<!-- Place all UI elements intended to be present across all routes in this file -->
<div class="app">
    <div class="loading-spinner" ng-show="$root.isLoading">
        <md-progress-circular ng-show="$root.isLoading" md-diameter="60"></md-progress-circular>
    </div>
    <!--<md-progress-circular class="md-accent md-hue-1" ng-show="$root.isLoading" md-diameter="60"></md-progress-circular>-->
    <div ui-view></div>
</div>
