.app {
  height: 100%;
}

[ui-view] {
  height: 100%;
}

user-reset-password, login, register, home {
  & > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("public/img/6HZSRvStBk4.png");
  }
}

home {
  main {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("public/img/6HZSRvStBk4.png");
  }
}

.loading-spinner {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1000000;
  md-progress-circular {
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    position: absolute;
    margin: -30px 0 0 -30px;
  }
}

#rock {
  width: 64px;
  height: 64px;
  /*background-image:url("public/img/1479488484_facebook.png");
  background-repeat: no-repeat; */
}

#radioButtonInLine {
  display: inline;
}

//border to verify page
#borderToText {
  border-style: groove;
}
