<navbar></navbar>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-card ng-form="createEventForm" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text flex="70" ng-form="createEventFormAnotherName">
          <span class="md-headline">
            <md-input-container>
              <label>Address</label>
              <input type="text" ng-model="event.address" required/>
            </md-input-container>
            <md-input-container>
              <label>Web site</label>
              <input type="text" ng-model="event.website" required/>
            </md-input-container>
            <md-input-container>
              <label>Entry Price</label>
              <input type="text" ng-model="event.entryPrice" required/>
            </md-input-container>
            <md-input-container>
              <label>Description</label>
              <input type="text" ng-model="event.description" required/>
            </md-input-container>
          </span>
                </md-card-title-text>
                <md-card-title-media flex="30">
                    <div class="md-media-xl card-media">
                        <!-- Events logo is here -->
                        <div class="clearfix">
                            <img class="thumb" ng-src="{{'app/public/img/nophoto.png'}}"
                                 style="max-width: 50%;max-height:50%" align="right">
                        </div>
                        <div class="buttons-control">
                            <md-button class="md-raised md-primary" ng-click="saveEvent(event)">
                                Save
                            </md-button>
                            <md-button class="md-raised md-primary" ngf-select name="file"
                                       ngf-max-size="2MB" accept="image/*"
                                       ng-model="eventsLogo"
                                       ngf-model-invalid="erorFile">
                                Change Logo
                            </md-button>

                        </div>
                    </div>
                </md-card-title-media>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
</md-content>
